@model Honeymoonshop.Models.AfspraakViewModels.Klantafspraak

<div class="row">
   <div class="col-md-12 afsprakenkop">
       <div id="breadcrumbcontainer">
           <ol class="breadcrumb">
               <li>
                   <a href="/home/">Home</a>
               </li>
               <li>
                   <a href="/afspraak/">Afspraak</a>
               </li>
               <li>
                   Pasafspraak maken
               </li>
           </ol>
       </div>
       <p class="afspraakbannerkop">Trouwjurken</p></br>
       <p class="text-uppercase afspraakbannertekst">Maak je pas afspraak</p>

       <div class="col-md-11 afspraakform">
           <div class="col-md-2 afsprakenlinks">
               <div class="col-md-12 center">
                   <div class="col-md-5 rond text-center" style="opacity:0.5;">

                       1

                   </div>
               </div>
               <div class="col-md-12 center">
                   <div class="col-md-9 tekstlinksbolletjes text-center">Datum en tijd selecteren</div>
               </div>
               <div class="col-md-12 center">
                   <div class="col-md-5 rond text-center" style="opacity:0.5;">

                       2

                   </div>
               </div>
               <div class="col-md-12 center">
                   <div class="col-md-9 tekstlinksbolletjes text-center">Gegevens invullen</div>
               </div>
               <div class="col-md-12 center">
                   <div class="col-md-5 rond text-center" style="opacity:0.5;">

                       3

                   </div>
               </div>
               <div class="col-md-12 center">
                   <div class="col-md-9 tekstlinksbolletjes text-center">Gegevens controleren</div>
               </div>
           </div>
           <div class="col-md-5 afsprakenlinks">
               <p class="bold" style="font-size: 25px;">Stap 2, Gegevens invullen</p>
               <form asp-action="Afspraakmaken3" method="post">
                   <p>
                       <label class="bold">Voor- en achternaam*</label></br>
                       <input asp-for="klant.naam" size="30" />
                       <span asp-validation-for="klant.naam" class="text-danger" />
                   </p>
                   <p>
                       <label class="bold">Trouwdatum*</label></br>
                       <input type="date" name="klant.trouwdatum" />
                   </p>
                   <p>
                       <label class="bold">Telefoonnummer</label></br>
                       <input asp-for="klant.telefoonnummer" size="30"/>
                       <span asp-validation-for="klant.telefoonnummer" class="text-danger" />
                   </p>
                   <p>
                       <label class="bold">E-mailadres*</label></br>
                       <input type="text" name="klant.email" size="30"/>
                   </p>
                   <p>
                       <label class="bold">Herhaal E-mailadres*</label></br>
                       <input type="text" name="herhaalemail" size="30" />
                   </p>
                   <p>
                       <input type="checkbox" value="true" name="klant.wilBrief" />
                       <label style="font-size:10px;font-weight:normal;">Ja, ik wil me graag aanmelden voor de inspirerende nieuwsbrief van de Honeymoon Shop</label>
                   </p>
                    <input type="hidden" name="afspraakdatum" value="@Model.afspraakdatum" />
                   <input type="submit" class="afspraakknop" value="Naar stap 3" /></br>
               </form>
           </div>
           <div class="col-md-5 afspraakrechts">
               <p class="bold"><img src="~/images/heart.png" />&nbsp;Gekozen tijd en datum:</p></br>
               <div class="col-md-10 afspraakrechtsdatum">
                   <p>@Model.afspraakdatum.Date</p>
               </div></br></br>
               <p>Vul je persoonlijke gegevens in om de pasafspraak compleet te maken.</p></br></br></br></br></br></br></br></br>
               <a href="#" class="afspraaklinkform"><p><img src="~/images/arrow2.png" />Terug naar stap 1 om datum te wijzigen</p></a>
           </div>
       </div>
   </div>
</div>
<div class="row">
    <img src="http://placehold.it/1400x600" />
</div>
