<div class="row">
   


    <div class="col-md-12 banner" style="background-image:url(http://placehold.it/1500x725); background-size:contain;">

        <div class="bannercontent ">
            <div class="col-md-12 text-center bannertekst">
                <span class="col-xs-12 col-md-12 text-center bruid-bannerkop">Afspraak maken</span>

                <span class="col-xs-12 bruid-banner-kopje">
                    (Door)Pasafspraak maken voor je jurk of pak
                </span>
                </br>
                <span class="col-xs-12 bruid-banner-kopje-twee text-uppercase">
                    <strong>Van begin tot eind kunnen wij je helpen</strong>
                </span>
            </div>
        </div>
    </div>


    <div class="col-md-12 afspraken">
        <div id="breadcrumbcontainer">
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    <a href="/afspraak/">Afspraak</a>
                </li>
                <li>
                    Afspraak gemaakt
                </li>
            </ol>
        </div>
        <div class="col-md-12 afsprakeninhoud">
            <div class="afspraakbannerkop col-md-12">
                Voltooid!
            </div>
            <span class="text-uppercase afspraakbannertekst col-md-12">Je pas afspraak is gemaakt</span>
            <div class="col-md-3"></div>
            <div class="col-md-6 center">
                <p>Leuk! Je pasafspraak is gemaakt! Er is een bevestiging van je afspraak naar je E-Mail gestuurd! Maak ook meteen een <a href="/afspraak/" class="afspraaklink">afspraak voor je partner!</a></p>
            </div>
            <div class="col-md-12"></br>
                <form>
                    <input type="button" class="afspraakknop text-uppercase" value="Deel dit moment" />
                </form>
            </div>
            <div class="col-md-6 afspraaktipsntricks">
                <img class="img-responsive" src="http://placehold.it/400x300" />
            </div>
            <div class="col-md-6 afspraaktipsntricks">
                <p class="text-uppercase bold">Tips and tricks</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac pretium erat. Integer vehicula libero nec sagittis dictum. Nulla eget dapibus sem. Donec pharetra ipsum ut <a href="#" class="afspraaklink">veelgestelde vragen</a>.</p>
                <ul class="afspraaklijst">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Nulla quis augue in lacus suscipit vehicula.</li>
                    <li>Aenean euismod purus ac pretium tincidunt.</li>
                    <li>Morbi scelerisque dui non erat commodo..</li>
                    <li>Curabitur sit amet diam et sapien porttitor efficitur.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row tussenkopje">
    <div class="col-md-12">
        <h1>How it works</h1>
        <h2 class="text-uppercase">Hoe verloopt het passen van</br> een pak of jurk eigenlijk?</h2>
        <div class="col-md-7 inhoudtussenkopjelinks">
            <img class="img-responsive" src="http://placehold.it/785x500" />
            <div class="col-md-2 getalafbeelding">
                <p>1</p>
            </div>
            <div class="col-md-3 koptekstomschrijving">
                <h1>Bekijk video!</h1>
            </div>
            <div class="col-md-2 omschrijvingafbeelding">
                <p>Hoe vind je de perfecte outfit? Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij wilt.</p>
            </div>
        </div>

        <div class="col-md-5 inhoudtussenkopjerechts ">
            <ul class="lijstknoppen">

                <div class="col-md-5 getalafbeeldingen">
                    <li>
                        <p>1</p>
                    </li>
                </div>
                <div class="lijsttekst">Trouwjurken passen</div>

                <div class="col-md-5 getalafbeeldingen">
                    <li>
                        <p>2</p>
                    </li>
                </div>
                <div class="lijsttekst">Trouwpakken passen</div>
        </div>
    </div>
</div>
<div class="row">
    <img class="img-responsive" src="http://placehold.it/1400x600" />
</div>