<div class="row">
   

    <div class="col-md-12 banner" style="background-image:url(http://placehold.it/1500x725); background-size:contain;">

        <div class="bannercontent ">
            <div class="col-md-12 text-center bannertekst">
                <span class="col-xs-12 col-md-12 text-center bruid-bannerkop">Afspraak maken</span>

                <span class="col-xs-12 bruid-banner-kopje">
                    Plan jouw afspraak hier in
                </span>
                </br>
                <span class="col-xs-12 bruid-banner-kopje-twee text-uppercase">
                    <strong>Voor wat wil je een afspraak maken?</strong>
                </span>
            </div>
        </div>
    </div>


    <div class="col-md-12 afspraken">
        <div id="breadcrumbcontainer">
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    Afspraak
                </li>
            </ol>
        </div>
        <div class="col-md-3 afsprakeninhoud">
            <p class="text-uppercase bold">Soorten afspraken</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod mi orci. Vestibulum nec pellentesque tellus, at cursus tortor. Maecenas porta ut mi et commodo.</p>
        </div>
        <div class="col-md-9 afsprakeninhoud">
            <a href="/afspraak/afspraakmaken/?typeafspraak=trouwjurk"><div class="col-md-4 text-center">
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Trouwjurken passen</p>
                </div>
            </div></a>
            <a href="/afspraak/afspraakmaken/?typeafspraak=trouwpak" /><div class="col-md-4 text-center">
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Trouwpakken passen</p>
                </div>
            </div></a>
            <a href="/afspraak/afspraakmaken/?typeafspraak=afspeld"><div class="col-md-4 text-center" />
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Afspeldafspraak<br /> maken</p>
                </div></a>
            </div>
        </div>
    </div>
    <div class="row tussenkopje">
        <div class="col-md-12">
            <h1>One Stop Shop</h1>
            <h2>Een jurk of pak kopen? Zo werkt het...</h2>

            <div class="col-xs-12 col-md-5 inhoudtussenkopjerechts pull-right">
                <ul class="lijstknoppen">
                    <li class="col-xs-12 col-sm-6 col-md-12">

                        <div class="getalafbeeldingen pull-left button1" onclick=button1active()>
                            <p>1</p>
                        </div>
                        <div class="lijsttekst">De winkel</div>

                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="getalafbeeldingen pull-left button2" onclick=button2active()>
                            <p>2</p>
                        </div>
                        <div class="lijsttekst">Onze specialisten</div>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="getalafbeeldingen pull-left button3" onclick=button3active()>
                            <p>3</p>
                        </div>
                        <div class="lijsttekst">Naai-atelier</div>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="col-xs-6 getalafbeeldingen button4" onclick=button4active()>
                            <p>4</p>

                        </div>
                        <div class="lijsttekst">Servicepunten</div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-7 inhoudtussenkopjelinks pull-left">
                <img class="img-responsive" src="http://placehold.it/785x500" />
                <div class="col-xs-2 col-md-2 getalafbeelding">
                    <p id="nummerafbeelding"></p>
                </div>
                <div class="col-xs-12 col-md-2 koptekstomschrijving">
                    <h1 class="col-xs-12 col-md-2">Bekijk video!</h1>
                </div>
                <div class="col-xs-12 col-md-2 omschrijvingafbeelding">
                    <p id="dewinkel">Hoe vind je de perfecte outfit? Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij wilt.</p>
                    <p id="onzespecialisten">Onze specialisten nemen de tijd om je te helpen met elke stap naar het vinden van de perfecte jurk voor jouw speciale dag!</p>
                    <p id="naaiatelier">De perfect jurk voor jou op maat gemaakt in ons eigen naai-atelier</p>
                    <p id="servicepunten">Servicepunten.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <img class="img-responsive" src="http://placehold.it/1400x600" />
</div>