<div class="row">
   

    <div class="col-md-12 banner" style="background-image:url(http://placehold.it/1500x725); background-size:contain;">

        <div class="bannercontent ">
            <div class="col-md-12 text-center bannertekst">
                <span class="col-xs-12 col-md-12 text-center bruid-bannerkop">Afspraak maken</span>

                <span class="col-xs-12 bruid-banner-kopje">
                    Plan jouw afspraak hier in
                </span>
                </br>
                <span class="col-xs-12 bruid-banner-kopje-twee text-uppercase">
                    <strong>Voor wat wil je een afspraak maken?</strong>
                </span>
            </div>
        </div>
    </div>


    <div class="col-md-12 afspraken">
        <div id="breadcrumbcontainer">
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    Afspraak
                </li>
            </ol>
        </div>
        <div class="col-md-3 afsprakeninhoud">
            <p class="text-uppercase bold">Soorten afspraken</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod mi orci. Vestibulum nec pellentesque tellus, at cursus tortor. Maecenas porta ut mi et commodo.</p>
        </div>
        <div class="col-md-9 afsprakeninhoud">
            <a href="/afspraak/afspraakmaken/?typeafspraak=trouwjurk"><div class="col-md-4 text-center">
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Trouwjurken passen</p>
                </div>
            </div></a>
            <a href="/afspraak/afspraakmaken/?typeafspraak=trouwpak" /><div class="col-md-4 text-center">
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Trouwpakken passen</p>
                </div>
            </div></a>
            <a href="/afspraak/afspraakmaken/?typeafspraak=afspeld"><div class="col-md-4 text-center" />
                <img class="img-responsive" src="http://placehold.it/250x250" />
                <div class="col-md-10 afsprakeninhoudtekst text-uppercase">
                    <p>Afspeldafspraak<br /> maken</p>
                </div></a>
            </div>
        </div>
    </div>
    <div class="row tussenkopje">
        <div class="col-md-12">
            <h1>One Stop Shop</h1>
            <h2>Een jurk of pak kopen? Zo werkt het...</h2>
            <div class="col-md-7 inhoudtussenkopjelinks">
                <img class="img-responsive" src="http://placehold.it/785x500" />
                <div class="col-md-2 getalafbeelding">
                    <p>1</p>
                </div>
                <div class="col-md-3 koptekstomschrijving">
                    <h1>Bekijk video!</h1>
                </div>
                <div class="col-md-2 omschrijvingafbeelding">
                    <p>Hoe vind je de perfecte outfit? Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij wilt.</p>
                </div>
            </div>

            <div class="col-md-5 inhoudtussenkopjerechts ">
                <ul class="lijstknoppen">

                    <div class="col-md-5 getalafbeeldingen">
                        <li>
                            <p>1</p>
                        </li>
                    </div>
                    <div class="lijsttekst">De winkel</div>

                    <div class="col-md-5 getalafbeeldingen">
                        <li>
                            <p>2</p>
                        </li>
                    </div>
                    <div class="lijsttekst">Onze specialisten</div>
                    <div class="col-md-5 getalafbeeldingen">
                        <li>
                            <p>3</p>
                        </li>
                    </div>
                    <div class="lijsttekst">Naai-atelier</div>
                    <div class="col-md-5 getalafbeeldingen">
                        <li>
                            <p>4</p>
                        </li>
                    </div>
                    <div class="lijsttekst">Servicepunten</div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <img class="img-responsive" src="http://placehold.it/1400x600" />
</div>