
body{
	background-color:#FCE8E7;
	font-size:20px;
}

header{
	background-color:#FAC9C4;
	padding:10px;
}

a:hover{
	color:#F0597C;
	text-decoration:none;
}

.active{
	color:#F15A7B;
}

.container {
    width: 1400px;
}

.bold {
    font-weight: bold;
}

header.col-md-1,header.col-md-2{
	margin:auto;
}

header>a, header>span{
	font-size:15px;
	color:black; 
}

footer{
	font-size:14px;
}

.contact .col-md-3{
	background-color:#F0597C;
	margin:60px 45px;
	font-size:18px;
	color:white;
	height:190px;
	padding:25px 5px;
}

footer ul {
	margin:60px 45px;
	font-size:18px;
	list-style-type: none;
}

footer ul a{
	color: #696461;
	text-decoration:none;
}

footer .contact p, .blog>p{
	color: #F7ADBE;
	font-size:60px;
	margin-bottom:-35px;
	
}

h1{
	color:white;
}
nav{
	margin:20px 0px 10px 0px;
	font-size:13px;
}

nav>a{
	padding-top: 15px;
	padding-bottom:15px;
	color:white;
}

nav>:last-child{
	background-color:#F0597C;
}

#navbar{
	background-image:url("http://placekitten.com/g/1400/800");
	min-height:800px;
}

#navbar span{
	color:white;
}

.buttongroup {
	font-size: 15px;
	padding-bottom:200px;
	
}

.buttongroup a{
	padding-top: 15px;
	padding-bottom:15px;
	border:5px solid white;
	color:white;
	display:block;
}

.buttongroup >div:first-child a{
	background-color:#F0597C;
	border:5px solid #F0597C;
}

#footerimg{
	padding:10px 0px;
	margin:10px 0px;
}

#navbar .buttongroup{
	margin-top:145px;
	
}

.header{
	margin-top:249px;
}

.test{
	align-content:center;
}
/*#selectbuttons {


	clear:both;
	font-size:20px;
	color:white;
}

#selectbuttons div a{
	padding-top:30px;
	padding-bottom:30px;
	border:1px solid red;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:10px;
	height:80px;
}*/

.center{
	display:flex;
	justify-content:center;
	-webkit-justify-content:center;
}

footer ul.col-md-3, .blogevenement{
	padding:0px;
}

.blogevenement>img{
	z-index:1;
}

.blogevenement{
	position:relative;
	
}

.evenement{
	
	background-color:white;
	z-index:2;
	position:absolute;
	width:55%;
	bottom:0;
	overflow:hidden;
	padding:30px;
}

.weddingimg{
	margin-top:30px;
}

.blogheader{
	padding-bottom:20px;
}

 .blogheader p{
	font-size:100px;
}



/*Bodhi's one stop shop*/

.tussenkopje{
	background-color:white;
	text-align:center;
	padding-bottom:50px;
}

.tussenkopje h1{
	color:pink;
	font-size: 128px;
}

.tussenkopje h2{
	color:black;
	margin-top: -30px;
	margin-bottom: 65px;
}

.inhoudtussenkopjelinks {
	text-align: left;
}

.getalafbeelding {
	margin-top: -60px;
	margin-left: 50px;
	border: 2px solid #F0597C;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #F0597C;
	text-align: center;
}

.getalafbeelding p{
	padding-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 45pt;
}

.omschrijvingafbeelding{
	width:350px;
	height:250px;
	background-color: white;
	margin-top: -250px;
	margin-left: 300px;
	padding: 25px;
	box-shadow: 5px 5px 5px #404040;
}

.koptekstomschrijving h1{
	width: 200px;
	font-size: 20pt;
	color: black;
	font-weight: bold;
	margin-top: -240px;
	margin-left: 200px;
}

.getalafbeeldingen	{
	border: 2px solid #F0597C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #F0597C;
	margin-bottom: 25px;
	margin-left: 50px;
	margin-right: -250px;
}

.getalafbeeldingen p {
	color: white;
	font-size: 25pt;
	font-weight: bold;
}

.lijstknoppen {
	list-style-type: none;
	line-height: 50px;
}


.lijsttekst {
	font-weight: bold;
	margin-bottom: 25px;
	text-align: left;
	margin-left: 125px;
}

.blog{
	background-color:white;
	padding-bottom:30px;
}

.evenementtitel{
	font-weight:bold;
}



.datum{
	background-color:#FACCC7;
	padding:7px;
	margin-top:-30px;
	line-height:40px;
	color:white;
	
}

.eventtitelstreep{
	margin:10px 0px 20px 0px;
	border:3px solid #FACCC7;
	width:115px;
	
}

.evenement a{
	color:black;
}

.blogitems{
	background-color: white;
}

.blogitem {
	margin:60px 45px;
	background-color:white;
	box-shadow:0px 0px 50px 10px #F6F6F6;
	border:1px solid #F6F6F6;
}

.blogitem img{
	margin-left:-15px;
}

.form-horizontal .form-group {
    margin-top: 20px;
}

.btn {
    background-color: #F0597C;
    color: white;
    font-weight: bold;
}