
body{
	background-color:#FCE8E7;
	font-size:14px;
}

header{
	background-color:#FAC9C4;
	padding:10px;
}

a:hover{
	color:#F0597C;
	text-decoration:none;
}

.bold {
    font-weight: bold;
}

header.col-md-1,header.col-md-2{
	margin:auto;
}

header>a, header>span{
	font-size:15px;
	color:black; 
}

footer{
	font-size:14px;
}

.footerblokken div{
	background-color:#F0597C;
	margin:60px 45px;
	font-size:18px;
	color:white;
	height:190px;
	padding:25px 5px;
}

footer ul li {
    padding-left:30px;
	font-size:18px;
	list-style-type: none;
}

footer ul a{
	color: #696461;
	text-decoration:none;
}

footer .footerblokken p, .blog>p{
	color: #F7ADBE;
	font-size:60px;
	margin-bottom:-35px;
	
}

h1{
	color:white;
}
nav{
	margin:20px 0px 10px 0px;
	font-size:13px;
}

nav>a{
	padding-top: 15px;
	padding-bottom:15px;
	color:white;
}




ul.nav>:last-child{
	background-color:#F0597C;
}

.navbar-nav{
    margin-top:8px;
}

.navbar-nav > li > a{
    padding:10px 10px;

}

.navbar-nav li:last-child{
    margin-left:12px;
}

.banner{
    margin-top:-90px;
    
    padding:0px;
    height:500px;
    /*display:flex;
        z-index:-1;
    justify-content:center;*/
}

.navbar-toggle{
        float:left;
    }

@media screen and (max-width:1200px){
    .navbar-brand{
        font-size:34px !important;
    }
}


@media screen and (max-width:767px) {
    .navbar-nav{
       height:400px;
    }
}

@media screen and (max-width:460px){
    .navbar-brand{
       font-size:22px !important;
    }

    .home-bannerkop{
        font-size:60px !important;
    }
}

.home-bannerkop, .about-bannerkop{
    font-size:130px;
    margin-top:70px;
	color:white;
    font-family: 'Playball', cursive;
    opacity:0.5;
}

.home-bannertekst{
    padding-bottom:50px;
}

.bannercontent, .about-bannercontent{
    /*position:absolute;
    align-self:center;*/
    padding-bottom:20px;
}



.bannercontent:nth-child(2){
    font-size:28px;
	color:white;
}

.bannercontent span:last-child{
    font-size:36px;
	color:white;
}

.home-buttongroup {
	font-size: 15px;
	
}

.home-buttongroup a{
	padding-top: 15px;
	padding-bottom:15px;
	border:5px solid white;
	color:white;
	display:block;
}

.home-buttongroup >div:first-child a{
	background-color:#F0597C;
	border:5px solid #F0597C;
}

#footerimg{
	padding:10px 0px;
	margin:10px 0px;
}

#navbar home.buttongroup{
	margin-top:145px;
	
}

.navbar-default{
    background-color:transparent;
    border:none;
    color:white;
    z-index:1;
}

.navbar-header{
    font-family:'droid serif';
}

.navbar-brand{
        font-size: 38px;
        color:white;
}

.navbar-default .navbar-nav > li > a{
    font-family:calibri;
}

.navbar-default .navbar-nav > li > a:active{
    color:#F0597C;
}

.navbar-nav{
    font-size:17px;
    font-weight:bold;
}

.actief{
	color:#F15A7B !important;
}

.header{
	margin-top:249px;
}



/*#selectbuttons {


	clear:both;
	font-size:20px;
	color:white;
}

#selectbuttons div a{
	padding-top:30px;
	padding-bottom:30px;
	border:1px solid red;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:10px;
	height:80px;
}*/

.center{
	display:flex;
	justify-content:center;
	-webkit-justify-content:center;
}

footer ul.col-md-3, .blogevenement{
	padding:0px;
}

.blogevenement>img{
	z-index:1;
}

.blogevenement{
	position:relative;
	
}

.evenement{
	
	background-color:white;
	z-index:2;
	position:absolute;
	width:55%;
	bottom:0;
	overflow:hidden;
	padding:30px;
}

.weddingimg{
	margin-top:30px;
}

.blogheader{
	padding-bottom:20px;
}

/*
 .blogheader p{
	font-size:100px;
}*/



/*Bodhi's one stop shop*/

.tussenkopje{
	background-color:white;
	text-align:center;
	padding-bottom:50px;
}

.tussenkopje h1,  .blogheader p{
    font-family: 'Playball', cursive;
	color:#FFE5E8;
	font-size: 134px;
}

.tussenkopje h2, .blogheader h2{
    font-weight: bold;
	color:#333333;
	margin-top: -60px;
	margin-bottom: 65px;
    font-family: 'Francois One', sans-serif;
    font-size:38px;
    line-height:33px;
    letter-spacing:2px;
}

.inhoudtussenkopjelinks {
	text-align: left;
}

.getalafbeelding {
	margin-top: -60px;
	margin-left: 50px;
	border: 2px solid #F0597C;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #F0597C;
	text-align: center;
}

.getalafbeelding p{
	padding-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 45pt;
}

.omschrijvingafbeelding{
	width:350px;
	height:250px;
	background-color: white;
	margin-top: -250px;
	margin-left: 40%;
	padding: 25px;
	box-shadow: 5px 5px 5px #404040;
    max-width:100%;
}

.koptekstomschrijving h1{
	width: 200px;
	font-size: 20pt;
	color: black;
	font-weight: bold;
	margin-top: -240px;
	margin-left: 200px;
}

.getalafbeeldingen	{
	border: 2px solid #F0597C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #F0597C;
    margin-left: 50px;
	/*margin-bottom: 25px;
	
	margin-right: -250px;*/
}

.getalafbeeldingen p {
	color: white;
	font-size: 25pt;
	font-weight: bold;
}

@media screen and (max-width:992px){
   .omschrijvingafbeelding, .koptekstomschrijving h1, .getalafbeeldingen, .banner{
       margin:0px;
   }
   .footerblokken div{
        margin:20px 0px;
    }

   .home-bannerkop{
       font-size:75px;
       margin:0px;
   }
}


@media screen and (max-width:1200px) {
    .footerblokken div{
        margin:20px 0px;
        width:100%;
    }

    .navbar-nav{
        font-size:13px;
    }
}

.lijstknoppen {
	list-style-type: none;
	line-height: 50px;
}


.lijsttekst {
	font-weight: bold;
	margin-bottom: 25px;
	text-align: left;
	margin-left: 125px;
}

.blog{
	background-color:white;
	padding-bottom:30px;
}

.evenementtitel{
	font-weight:bold;
}



.datum{
	background-color:#FACCC7;
	padding:7px;
	margin-top:-30px;
	line-height:40px;
	color:white;
	
}

.eventtitelstreep{
	margin:10px 0px 20px 0px;
	border:3px solid #FACCC7;
	width:115px;
	
}

.evenement a{
	color:black;
}

.blogitems{
	background-color: white;
}

.blogitem {
	margin:60px 45px;
	background-color:white;
	box-shadow:0px 0px 50px 10px #F6F6F6;
	border:1px solid #F6F6F6;
}

.blogitem img{
	margin-left:-15px;
}

.form-horizontal .form-group {
    margin-top: 20px;
}

.btn {
    background-color: #F0597C;
    color: white;
    font-weight: bold;
}

.productform{
    margin-top:-5px;
}

.spotlight {
    margin-bottom:20px;
}

.producten{
    padding:0px;
}

.producten h3{
    padding:20px 0;
}

.bg-white{
    background-color:white;
}

.collectielijn{
    margin-top:20px;
    border-color:black;
    flex:1;
}

.test{ /*rename*/
    display:flex;
    margin:20px;
    padding:20px 0px;
}


#productpagina{
    font-size:14px;
}
 
/*Overzicht knop*/
#productpagina>:nth-child(2){
    padding: 50px 0px 50px 50px;
    text-decoration:underline;
    text-decoration-color:rgb(132, 132, 132);
}
/*
#productpagina>:nth-child(n+3){
    background-color:red;
}*/
 
#productpagina>:nth-child(2) a{
    color: rgb(132, 132, 132);
}
 
#productpagina>div:nth-child(2){
    margin-left: 20px;
}
 
/*Extra images*/
#productpagina>div:nth-child(3)>img{
    margin-bottom:20px;
    margin-right: 20px;
    width: 250px;
}

/*Product image main image*/
#productpagina>div:nth-child(4)>img{
    width:100%;
}

/*Productinformatie*/
#productpagina>:last-child>:last-child{
    background-color:#F0597C;
    padding:15px;
}
 
 
#productpagina>:last-child>:last-child{
    color:white;
    font-weight:bold;
}
 
#productpagina>:last-child>:last-child:hover{
    color:black;
}
 
 
#productpagina>:last-child>h4{
    font-size:24px;
    margin-bottom:1px;
}
 
#productpagina>:last-child>p{
    margin-bottom:40px;
}
 
#productpagina>:last-child>div>p>span>a{
    color:pink;
}

#productpagina>:last-child>div>p{
    margin-bottom:5px;
}

#productpagina>:last-child>div{
    margin-bottom:40px;
}

#productpagina>:last-child>div>p:last-child{
    margin-top:20px;
    margin-bottom:-20px;
}

#productpagina>:last-child>a{
    padding-top:220px;
}
 
#productpagina>:last-child>div>p>span>a:hover{
    color:black;
}
 
#tussenkopje{
    display:flex;
}
#tussenkopje>hr{
    border-color:black;
}
 
#alternatieven{
    padding-top:20px;
    padding-bottom:100px;
}

#bijpassend a, #alternatieven a{
    color:black;
}
 
#bijpassend>div>div>div{
    display:flex;
    height:400px;
    border:2px solid rgb(244,244,244);
}
#bijpassend>div>div>span, #alternatieven>div>div>span{
    margin-left:5px;
}
 
#bijpassend img, #alternatieven img{
    margin:auto;
    justify-content:center;
}

#alternatieven>div>div>div{
    height:400px;
}

#alternatieven img{
    max-width: 300px;
    max-height: 400px;
}
 
#bijpassend>a>div:last-child, #alternatieven>a>div:last-child{
    margin:30px 0px 60px 0px;
    display:flex;
    justify-content:center;
}
/*Knopje*/
#bijpassend>a>div>span:last-child, .dressfinder-btn{
    font-size:14px;
    font-weight:bold;
    background-color:#F0597C;
    padding:15px;
    color:white;
}
 
#bijpassend>a>div>span:last-child{
    color:white;
}
#bijpassend>a>div>span:last-child:hover{
    color:black;
}
 
.productcontainer{
    background-color:white;
    border-top: 2px solid rgb(229, 229, 229);
}

.catalogusitems{
    display:flex;
    margin:20px;
    padding:20px 0px;
}

 .catalogusitem, .catalogusitem div{
   padding-bottom:5px;
   line-height:20px
}

 .productencollectie{
     position:relative;
 }

.catalogusartikelnummer{
    display:none;
}

.catalogus-footer{
    padding:30px 15px 30px 15px;
    line-height:30px;
}

.catalogusitem:hover{    
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0px 5px #DBDBDC;
    background-color: white;
    margin-bottom:-50px;
}

.img-container{
    width:auto;
    height:340px;
    overflow:hidden;
    box-sizing:border-box;
}

.producten  a{
    color:black;
}

.catalogusitem:hover .catalogusartikelnummer{
    
    display:block;

}

.filter-container a{
    color:black;

}

.filter ul{
    list-style-type:none;
    padding: 0;
}

.categorieen li{
    background-color:#FCE8E7;
    margin:3px;
    padding:3px 10px;
    font-weight:bold;
    font-size:14px;
}

.filterkeuzes>:first-child li{
    border-top:3px #D9D9DB;
    background-color:#FCFCFC;
    border-bottom:1px #D9D9DB;
}

.container-collectie-img{
    padding:0px;
}

.dressfinder-banner, .container-collectie-img img{
    max-width:100%;
}

.filterkeuzes, .categorieen{
    padding-left:0px;
}

.filterkeuzes .rbfilter{
    
    line-height: 30px;
}

.categorieen, .filterkeuzes, .filterverfijnen, .filterkeuzes ul, .filterverfijnen li, .filterverfijnen ul {
    padding:0px;
    list-style-type:none;
}

.filterkeuzes input[type="radio"]{
    margin:auto 10px;
    height:18px;
    width:18px;
    vertical-align:middle;
}

.filterkeuzes div:first-child, .filter-title{
    border-top:2px solid #D9D9DB;
    border-bottom:2px solid #D9D9DB;
    background-color:#F6F6F6;
}

.filterverfijnen>:first-child {
    border-top:2px solid #D9D9DB;
    border-bottom:2px solid #D9D9DB;
}

 .filterkeuzes div:first-child, .filterverfijnen li{
     padding:5px 5px 3px 10px;
 }   

.filterkeuzes>:last-child div{
    border-top:none;
    background-color:#FCFCFC;
    border-bottom:none;
}


.filterkeuzes>:last-child{
    border-bottom:2px solid #D9D9DB;
}

.filterkeuzes img, .filterverfijnen img{
   
    max-width:12px;
}

.filterkeuzes fieldset{
    max-height:125px;
    overflow-y:scroll;
}


 .head-filter{
     
    border-bottom:2px solid #D9D9DB;
}


 .filterverfijnen li, .filterkeuzes li{
    font-size:14px;
    
}


 .filterverfijnen img, .filterkeuzes img{
     margin-right:10px;
 }



 .catalogusitem:hover .kleurbolletje{
     display:block;
 }

 .catalogusitem:hover .artikelnr{
     display:block;
 }

 .artikelnr{
     display:none;
 }
 
 .catalogusitem:hover #kleuren, #kleuren{
     display:flex;
 }

 .catalogusitem #kleuren{
    display:none;
}

.kleurbolletje {
	border: 2px solid rgb(229, 229, 229);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FFF;
}

.kleurbolletje.verberg{
    display:none;
}


 .col-item img{
     max-width:100%;
 }


#breadcrumbcontainer{
    padding:10px 0px 0px 30px;
    text-align:left;
}

.breadcrumb {background: rgba(255, 255, 255, 0); border: 0px solid rgba(255, 255, 255, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(247, 171, 186, 1);}
.breadcrumb a:hover {color: rgba(0, 0, 0, 1);}
.breadcrumb>.active {color: rgba(148, 148, 148, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\2771\00a0";}

.breadcrumb a{
    text-decoration:underline;
}

.afsprakenkop{
    background-color: white;
    text-align:center;
}

.afspraken{
    background-color: white;
}

.afsprakeninhoud {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.afsprakeninhoudtekst {
    background-color: white;
    text-align: center;
    margin-top: -75px;
    margin-left: 25px;
    font-weight: bold;
}

.afspraakbannerkop{
    font-size:160px;
    font-weight: bold;
    margin-bottom:-115px;
	color:#FFE5E8;
    font-family: 'Playball', cursive;
    opacity:0.5;
}

.afspraakbannertekst {
    margin-top: 45px;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 50px;
}

.afspraaklink {
    color: black;
    text-decoration: underline;
}

.afspraaklinkform {
    color: white;
    text-decoration: none;
}

.afspraakknop {
    font-size:14px;
    font-weight:bolder;
    background-color:#F0597C;
    padding:15px;
    color: white;
}

.afspraaktipsntricks {
    padding-top: 100px;
}

.afspraaklijst {
    list-style-position: outside;
    list-style-image: url('../images/lijstbolletje.png');
}

.afspraakrechts {
    padding-top: 20px;
    padding-left: 20px;
    background-color: #F0597C;
    color: white;
    padding-bottom: 82px;
}

.afsprakenlinks{
    padding-top:10px;
    background-color: white;
    padding-bottom: 25px;
}

.afspraakrechtsdatum {
    background-color:#F27390;
    margin-left: 50px;
}

.afspraakform {
    box-shadow: 2px 2px 2px 2px #404040;
    padding-left: 0px;
    padding-right:0px;
    margin-left: 65px;
    margin-bottom: 50px;
    text-align:left;
}

.tekstlinksbolletjes {
    color: hotpink;
    font-size: 12px;
    opacity: 0.5;
    padding-bottom: 88px;
}

.rond{
    border-radius:50%;
    background-color: #F0597C;
    color: white;
    width:50px;
    line-height:50px;
    opacity: 0.5;
}

#datepicker{
  width: auto;
  height: auto;
  font-weight:bold;
  color:white;
  margin: 5px auto 0;
  background:#EF597C;
  padding-bottom:200px;
  max-height:527px;
}
#datepicker table {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size:15px;
}
 
.ui-datepicker-calendar, .ui-datepicker-calendar th{
    padding-top:20px;
    text-align:center;
}
 
.ui-datepicker-header{
    background:#F27390;
    width:80%;
    margin:0 auto;
    display:flex;
    padding-bottom:-10px;
}
 
.ui-datepicker-title{
    text-align:center;
    line-height:50px;
    width:80%;
    order:2;
    text-transform: uppercase;
}    
 
.ui-datepicker-prev{
    width:10%;
    order:1;
    color:white;
    font-size:30px;
    line-height:55px;
}
 
.ui-datepicker-next{
    width:10%;
    order:3;
    text-align:right;
    color:white;
    font-size:30px;
    line-height:55px;
}
 
.ui-state-default{
    color:white;
    padding:5px;
}
 
.ui-datepicker-calendar td{
    padding-left:5px;
    padding-right:5px;
    padding-bottom:10px;
}
 
.ui-datepicker-unselectable>.ui-state-default{
    color:#CC4B67;
}
 
.ui-state-hover:hover {
    color:white;
}
 
.ui-state-active{
    border-radius:50%;
    border: 2px solid white;
    padding:3px;
}
 
.ui-datepicker-prev-hover:hover, .ui-datepicker-next-hover:hover{
    color:#F0597C;
}
 
.kalenderkoptekst{
    padding-left:20px;
}
 
.kalenderstap2{
    position: absolute;
    bottom:50px;
    right:60px;
}

 /*Filterslider*/
 .slider-handle{
    background-color : white !important;
    border:2px solid #F9C8C3 !important;
    background-image:none !important;
    opacity: 1 !important;
}

 .slider{
     width:90% !important;
     margin: 0 auto;
     display:block;
 }

 .sliderContainer{
   
     padding:3px !important;
 }

 .prijs{
     padding:0 !important;
 }

 .prijzenContainer{
       display:flex;        
 }

.slider-selection{
	background-color: #F9C8C3 !important;
    background-image: none !important;
}

.tooltip{
    display:none;
}

.slider-track{
    border:0;
}

.sorteermenu{
    margin-bottom:20px;
    font-size:12px;
    line-height:26px;
}

.sorteermenu select, .catalogus-footer select{
    padding: 5px;
    margin-left:5px;
    border-color:#DBDBDC;
}
/*Einde filterslider*/

/*Paginering*/
.pagination>li>a, .pagination>li>span{
	border: 0px;
	color:black;
}

.pagination{
	letter-spacing:1px;
    font-size:14px;
    margin:0;
}
/*Einde paginering*/


.rb.outer, .rb.inner{
    width:20px;
    height:auto;
    max-width:none;
    margin:0px 5px 5px 5px;
}

.rb.outer{
    display:inline;
}

.rb.inner{
    display:none;
}

.hide{
    visibility:hidden;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a{
    color:white;
}


.slide-container{
	position:relative;
	height:680px;
	overflow:hidden;
}

.slide-items{
	overflow:hidden;
	height:680px;
	width:700%;
    position:absolute;
    font-size:12px;
	
}

.slide-items, .slide-item{
	padding: 0;
}

.slide-item{
	margin:0 10px;
	position:relative;
	display:inline;
	float:left;
}

.slide-btn{
	position:absolute;
	left: 12%;
    top: 50%;
	font-weight:bold;
	background-color: white;
	padding: 10px;
	color:black;
	visibility:hidden;
}

.slide-container:hover,.slide-items:hover, .slide-container a:hover{

	cursor:move;
}

.slide-item:hover > .slide-btn{
	visibility:visible;
}

.bruidegom .tussenkopje h1{
    color:#E1EDF2;
}

.bruidegom #productpagina a, .bruidegom #productpagina>:last-child>div>p>span>a, .bruidegom form a{
    color:#1A91BE;
}

.bruidegom #bijpassend>a>div>span:last-child, .bruidegom #productpagina>:last-child>:last-child, .bruidegom .dressfinder-btn  {
    background-color:#1A91BE;
}

.bruidegom .container-dressfinder a{
    color:black;
}

.bruidegom .categorieen li{
    background-color:#E1EDF2;
}

.bruidegom .slider-selection{
    background-color:#1990BD !important;
}

.bruidegom .slider-handle {
    border-color:#1990BD !important;
}

.dressfinder-btn{
    margin:0 auto;
}

nav>:last-child{
    color:white !important;
}

.filter-container{
    font-size:14px;
}

.filter-container h2{
    font-size:14px;
    letter-spacing: 1px;
}

.inverted{
    background-color:white;
    color:#5e5e5e;
}

.inverted .navbar-default .navbar-brand, .inverted .navbar-default .navbar-nav > li > a{
    color:#5e5e5e;
}

.inverted .navbar-default .navbar-nav > li:last-child > a{
    color:white;
}

.inverted a.active{
	color:#F15A7B;
}

.bruidegom .dressfinder-btn{
    background:#1A91BE;
}