@model List<Honeymoonshop.Models.Product>
<div class="col-md-12 slide-container">
    <div class="slide-items">
        @foreach (Product p in Model)
        {
            if (p.Kleuren.Count > 0)
            {
            <div class="slide-item" style="width:236px; height:446px">
                @{
                    if (p.Kleuren.Count > 0 && p.Kleuren[0].Images.Count > 0)
                    {
                        <img src="~/images/productenimages/@p.Kleuren[0].Images[0].BestandsNaam" class="img-responsive " />
                    }
                    else
                    {
                        if (p.Geslacht == "bruid")
                        {
                            <img src="~/images/productenimages/placeholders/placeholderbruid.jpg" class="img-responsive " />
                        }

                        else
                        {
                            <img src="~/images/productenimages/placeholders/placeholderbruidegom.jpeg" class="img-responsive " />
                        }

                    }

                }

                <a asp-action="productpagina" asp-route-productid="@p.Id" asp-route-kleurid="@p.Kleuren[0].KleurId">
                    <span class="col-md-8 slide-btn text-uppercase text-center bold">bekijk de jurk</span>
                </a>
            </div>
            }
        }
    </div>
</div>