@model Honeymoonshop.Models.Catalogus.CatalogusVM
<div class="col-md-12 sorteermenu text-right">
    <b>Sorteer op: </b>
    <select asp-for="@Model.Criteria.Sorteer" name="Sorteer" asp-items="@Model.SoorteerMogelijkheden" class="col-md-3 pull-right"></select>
</div>
