@model List<Category>
<h2>Categorie overzicht</h2>

<a asp-action="categorieToevoegen" asp-controller="admin">+ Categorie toevoegen</a>
<table class="table-striped col-md-12">
    <tr>
        <th class="col-md-4">#</th>
        <th class="col-md-4">Naam</th>
        <th class="col-md-4"></th>
    </tr>
    <tr>
        @foreach (var c in Model)
        {
            <td>@c.id</td>
            <td>@c.naam</td>
            <td>
                <a asp-action="categorieWijzigen" asp-controller="admin" asp->wijzig</a>
                <a asp-action="categorieVerwijderen" asp-controller="admin">delete</a>
            </td>


        }
    </tr>

</table>