@{
    ViewData["Title"] = "Admin";
}

<div class="row dashboard">
    <h2>Admin dashboard</h2>
    <div class="col-md-12 text-center bold text-uppercase contact center">
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="index" asp-controller="product">Producten</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="index" asp-controller="categorie">Categorieen</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="index" asp-controller="merk">Merken</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="index" asp-controller="kenmerk">Kenmerken</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="index" asp-controller="kleur">Kleuren</a></p>
        </div>
        <div class="col-md-3">
            <p class="text-capitalize"><a asp-action="LogOff" asp-controller="Account">Uitloggen</a></p>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
