@{
    ViewData["Title"] = "Trouwjurk toevoegen";
}

<form class="form-horizontal productform">
    <div class="form-group bold">Trouwjurk toevoegen</div>
    <div class="form-group artikelnummer">
        <label for="inputArtikel3" class="col-sm-2 control-label">Artikelnummer</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="artikelnummer" placeholder="Artikelnummer">
        </div>
    </div>
    <div class="form-group merk">
        <label for="inputMerk3" class="col-sm-2 control-label">Merk</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="merk" placeholder="Merk">
        </div>
    </div>
    <div class="form-group stijl">
        <label for="inputStijl3" class="col-sm-2 control-label">Stijl</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="stijl" placeholder="Stijl">
        </div>
    </div>
    <div class="form-group neklijn">
        <label for="inputNeklijn3" class="col-sm-2 control-label">Neklijn</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="neklijn" placeholder="Neklijn">
        </div>
    </div>
    <div class="form-group silhouette">
        <label for="inputNeklijn3" class="col-sm-2 control-label">Silhouette</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="silhouette" placeholder="Silhouette">
        </div>
    </div>
    <div class="form-group kleur">
        <label for="inputKleur3" class="col-sm-2 control-label">Kleur</label>
        <div class="col-md-4">
            <select>
                <option value="Ivoor/ wit">Ivoor/ wit</option>
                <option value="Ivoor met kleur">Ivoor met kleur</option>
                <option value="Gekleurd">Gekleurd</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">Opslaan</button>
        </div>
    </div>
</form>