@model List<Honeymoonshop.Models.Product>

<div class="row ">
    <div class="col-md-12 banner">
        <img class="img-responsive" src="http://placehold.it/1500x725" />
        <div class="bannercontent ">
            <div class="col-md-12 text-center home-bannertekst">
                <span>
                    Op zoek naar de perfecte jurk
                </span>
                </br>
                <span class="text-uppercase">
                    <strong>van begin tot eind kunnen wij je helpen</strong>
                </span>
            </div>

            
        </div>

    </div>


</div>


<div class="row tussenkopje">
    <div class="col-md-12">
        <h1>Collectie</h1>
        <h2 class="text-uppercase">de trouwjurk voor je droombruid</h2>
        <div class="col-md-12 slide-container">
            <div class="slide-items">
                @foreach (Product p in Model)
                {
                    <a asp-controller="home" asp-action="productpagina" asp-route-productid="@p.id" asp-route-kleurid="@p.kleuren[0].kleurId">
                        <div class="slide-item">@{
                            if (p.afbeeldingen.Count > 0)
                            {
                                <img src="~/images/productenimages/@p.afbeeldingen[0].bestandsNaam" class="img-responsive " />
                            }
                            else
                            {
                                    <img src="~/images/productenimages/placeholders/placeholderbruid.jpg" class="img-responsive " />
                                
                            }

                        }

                            <span class="col-md-9 slide-btn text-uppercase text-center">bekijk de jurk</span>
                        </div>
                    </a>


                }
            </div>
        </div>
    </div>
</div>

