@model List<Honeymoonshop.Models.Product>

<div class="row ">
    <div class="col-md-12 banner" style="background-image:url(http://placehold.it/1500x725); background-size:contain;">
        
        <div class="bannercontent ">
            <div class="col-md-12 text-center bannertekst">
                <span class="col-xs-12 col-md-12 text-center bruid-bannerkop">Bruid</span>
             
                   <span class="col-xs-12 bruid-banner-kopje">
                       Op zoek naar de perfecte jurk
                   </span>
                   </br>
                   <span class="col-xs-12 bruid-banner-kopje-twee text-uppercase">
                       <strong>van begin tot eind kunnen wij je helpen</strong>
                   </span>
           
                
            </div>

            
        </div>

    </div>


</div>


<div class="row tussenkopje">
    <div class="col-md-12">
        <h1>Collectie</h1>
        <h2 class="text-uppercase">de trouwjurk voor je droombruiloft</h2>
        @Html.Partial("~/Views/Shared/Catalogus/_Carousel.cshtml")

        <div class="col-md-12 center">
            <a class="col-xs-12 col-md-3" asp-action="dressfinder" asp-controller="bruid">
                <div class="text-uppercase col-md-12 dressfinder-btn">Naar de dressfinder</div>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 container-collectie-img">
        <img src="~/images/dressfinder-footer.png">
    </div>
</div>

