@model Honeymoonshop.Models.ProductViewModels.CreateProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Product.Artikelnummer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Artikelnummer" class="form-control" />
                <span asp-validation-for="Product.Artikelnummer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Kleuren</label>
            <div class="col-md-10">
                @foreach (var k in Model.Kleuren)
                {
                    <input type="checkbox" name="kleur" value="@k.Id" /> @k.Naam
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Kenmerken</label>
            <div class="col-md-10">
                @foreach (var k in Model.Kenmerken)
            {
                    <input type="checkbox" name="kenmerk" value="@k.Id" /> @k.Naam
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Geslacht" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select input asp-for="Product.Geslacht">
                    <option value="bruid">Bruid</option>
                    <option value="bruidegom">Bruidegom</option>
                    <option value="geen">Geen</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Categorie" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Product.CategorieId" class="form-control" asp-items="Model.Categorieen"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Merk" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Product.MerkId" class="form-control" asp-items="Model.Merken"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Omschrijving" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Omschrijving" class="form-control" />
                <span asp-validation-for="Product.Omschrijving" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Prijs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Prijs" class="form-control" />
                <span asp-validation-for="Product.Prijs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
