@model Honeymoonshop.Models.Category

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="naam" class="form-control" />
                <span asp-validation-for="naam" class="text-danger" />
            </div>
        </div>
        <div class="col-md-10 isAccessoire">
            <label>Is Accessoire?</label>
            <input type="radio" name="isAccessoire" value="true" asp-for="isAccessoire"> Ja
            <input type="radio" name="isAccessoire" value="false" asp-for="isAccessoire"> Nee
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>