@model Honeymoonshop.Models.Kenmerk

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Kenmerk</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label asp-for="naam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="naam" class="form-control" />
                <span asp-validation-for="naam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="kenmerktype" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select input asp-for="kenmerktype">
                    <option value="Stijl Jurk">Stijl Jurk</option>
                    <option value="Neklijn">Neklijn</option>
                    <option value="Silhouette">Silhouette</option>
                    <option value="Model">Model</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>