@model List<Product>
<h2>Product overzicht</h2>

<a asp-action="productToevoegen" asp-controller="admin">+</a>
<table class="table-striped">
    <tr>
        <th>#</th>
        <th>Merk</th>
        <th></th>
    </tr>
    <tr>
        @foreach(var product in Model)
        {
            <td>@product.artikelnummer</td>
            <td>@product.merk</td>
            <td>
                <a asp-action="productWijzigen" asp-controller="admin">wijzig</a>
                <a asp-action="verwijder" asp-controller="admin">delete</a>
            </td>


        }
    </tr>

</table>