<div class="row bg-white">
    <div class="col-md-2">
        <h2>Categorieen</h2>X

    </div>
    <div class="col-md-10 producten">
        <div class="col-md-12 spotlight"><img src="https://placekitten.com/g/1100/600" /></div>
        <a href="#"><div class="col-md-4 col-item"><img src="https://placekitten.com/g/340/320" /></div></a>
        <a href="#"><div class="col-md-4 col-item"><img src="https://placekitten.com/g/340/320" /></div></a>
        <a href="#"><div class="col-md-4 col-item"><img src="https://placekitten.com/g/340/320" /></div></a>
        <div class="clearfix"></div>

        <div class="test">
            <hr class="col-md-3 collectielijn" />
            <h4 class="col-md-3 text-uppercase text-center bold">nieuwe collection</h4>

            <hr class="col-md-3 collectielijn" />
        </div>
        <!--<a href="#"> <div class="col-md-4 col-item"><img src="https://placekitten.com/g/340/320" /><p>Beautiful by Enzoani</p></div></a>-->
    </div>

</div>