
<div class="row ">
    <div class="col-md-12 banner" style="background-image: url(http://placehold.it/1400x500)" >
        <img class="img-responsive"  />
        <div class="bannercontent ">
            <div class="col-md-12 text-center home-bannertekst">
                <div class="col-xs-12 home-bannerkop">Bruidswinkel</div></br>
                <span>
                    Al bijna 50 jaar de grootste bruidzaak van Nederland.
                </span>
                </br>
                <span class="text-uppercase">
                    <strong>Hoe kunnen we jou helpen?</strong>
                </span>
            </div>

            <div class="col-md-12 text-uppercase home-buttongroup text-center">
                <div class="col-xs-12 col-md-6">
                    <a class="col-xs-12 col-md-5 pull-right" asp-action="index" asp-controller="bruid" ><strong>Bruid</strong></a>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a class="col-xs-12 col-md-5" asp-action="index" asp-controller="bruidegom"><strong>Bruidegom</strong></a>
                </div>
            </div>

        </div>

    </div>


</div>


<div class="clearfix"></div>

<div class="row tussenkopje">
    
        <h1>One stop shop</h1>
        <h2 class="text-uppercase">Een jurk of pak kopen?</br></h2><h2 class="text-uppercase">Zo werkt het...</h2> 
        <div class="col-md-12">


            <div class="col-xs-12 col-md-5 inhoudtussenkopjerechts pull-right">
                <ul class="lijstknoppen">
                    <li class="col-xs-12 col-sm-6 col-md-12">

                        <div class="getalafbeeldingen pull-left">
                            <p>1</p>
                        </div>
                        <div class="lijsttekst">De winkel</div>

                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="getalafbeeldingen pull-left">
                            <p>2</p>
                        </div>
                        <div class="lijsttekst">Onze specialisten</div>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="getalafbeeldingen pull-left">
                            <p>3</p>
                        </div>
                        <div class="lijsttekst">Naai-atelier</div>
                    </li>
                    
                    <li class="col-xs-12 col-sm-6 col-md-12">
                        <div class="col-xs-6 getalafbeeldingen">
                            <p>4</p>

                        </div>
                        <div class="lijsttekst">Servicepunten</div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-7 inhoudtussenkopjelinks pull-left">
                <img class="img-responsive" src="http://placehold.it/785x500" />
                <div class="col-xs-2 col-md-2 getalafbeelding">
                    <p>1</p>
                </div>
                <div class="col-xs-12 col-md-2 koptekstomschrijving">
                    <h1 class="col-xs-12 col-md-2">Bekijk video!</h1>
                </div>
                <div class="col-xs-12 col-md-2 omschrijvingafbeelding">
                    <p>Hoe vind je de perfecte outfit? Onze specialisten nemen echt de tijd voor je en helpen je met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij wilt.</p>
                </div>
            </div>

        </div>
        
    </div>


<div class="row blog">
    <div class="col-md-12 text-uppercase text-center center">
        <div class="blog col-xs-12 col-md-12 blogheader">
            <p class="text-capitalize blogtitel">Blog</p>
            <h2 class="text-uppercase">Blijf op de hoogte over</h2><h2>de bruidswereld</h2>
</div>
    </div>


    <div class="blogevenement col-md-6 ">
        <img class="img-responsive" src="http://placehold.it/700/575" />
        <div class="evenement">
            <span class="evenementtitel">Evenement</span>

            <span class="datum dag pull-right text-uppercase ">
                30
            </span>

            <span class="datum maand pull-right text-uppercase ">
                NOV
            </span>

            <hr class="eventtitelstreep ">
            <p class="evenementcontent">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>

            <a href="#"><u>Lees meer</u></a>
        </div>
    </div>
    <div class="blogevenement col-md-6">
        <img class="img-responsive" src="http://placehold.it/700/575" />
        <div class="evenement">

            <span class="evenementtitel">Evenement</span>

            <span class="datum dag pull-right text-uppercase ">
                30
            </span>

            <span class="datum maand pull-right text-uppercase">
                NOV
            </span>

            <hr class="eventtitelstreep ">
            <p class="evenementcontent">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>

            <a href="#"><u>Lees meer</u></a>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-12 container-collectie-img">
        <img class="img-responsive" src="~/images/dressfinder-footer.png" alt="wedding img">
    </div>
</div>
